@model client.Models.HomeViewModel


<form method="post" style="background-color: blanchedalmond; position: relative">
    <div class="container">
        <div class="row p-0 py-3 mx-0">
            <div class="col rounded-3 d-flex form-group">
                <i class="bi bi-search me-2"></i>
                <input class="form-control"placeholder="Enter a destination or property" />
            </div>
        </div>
        <div class="row p-0 py-3 mx-0">
            <div class="col rounded-3">
                <label class="form-label">Check in</label>
                <div class="d-flex align-items-center">
                    <i class="bi bi-calendar me-2"></i>
                    <input class="form-control" asp-for="CheckIn" />
                </div>
            </div>
            <div class="col rounded-3">
                <label class="form-label">Check out</label>
                <div class="d-flex align-items-center">
                    <i class="bi bi-calendar me-2"></i>
                    <input class="form-control" asp-for="CheckOut" />
                </div>

            </div>

        </div>
        <div class="d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-primary mb-n7 btn-lg">
                Search
            </button>
        </div>
    </div>
    
</form>
<h2>Featured Hotels</h2>

<div class="container">
    <div class="row">
        @foreach (var hotel in Model.Hotels)
        {
            <div class="col-6 col-md-2 mb-4">
                <a class="text-decoration-none" asp-controller="Hotel" asp-action="Details" asp-route-id="@hotel.Id">
                    <div class="card mt-5 mx-auto" style="width: 100%;">
                        <img src="@hotel.ImageUrl" class="card-img-top" style="background-color: #555; height: 180px;" alt="@hotel.Name">
                        <div class="card-body">
                            <h5 class="card-title">@hotel.Name</h5>
                            <p class="card-text">@hotel.Description</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<h2>Promotions and Benefits</h2>

@*Add all current promotions/offers*@
