@model IEnumerable<Domain.Entities.Hotel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




<div class="w-100 card border-0 p-5">
    <div class="card-header bg-primary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Hotels</h2>
                
            </div>
        </div>
    </div>
    
    <div class="card-body border p-4">
        <div class="row pb-4">
            <div class="col-6 offset-6 text-end">
                <a asp-controller="Hotel" asp-action="Create" class="btn btn-outline-secondary"><i class="bi bi-plus-circle pe-4"></i>Add new room</a>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Hotel Name
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Size
                    </th>
                    <th>
                        Number of Guests
                    </th>
                    <th>
                        Number of Beds
                    </th>
                    <th>
                        Description
                    </th>
                    <th>Address</th>
                    <th>Actions</th>

                </tr</thead>
                <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Occupancy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Beds)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a 
                                asp-action="Update" 
                                asp-controller="Hotel" 
                                asp-route-id="@item.Id" class="btn btn-outline-secondary"><i class="bi bi-pencil-square"></i> Update</a>
                            @*A form to trigger delete action*@
                            <form asp-action="Delete" asp-controller="Hotel" asp-route-id="@item.Id" method="post">
                                <button type="submit" class="btn btn-outline-danger"><i class="bi bi-trash"></i> Delete</button>
                            </form>

                                

                        </div>
                    </td>
                </tr>    
                }
            </tbody>
        </table>
    </div>
</div>


